<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>
    Top Page
  </title>
</head>
<body>
  <h1>Hello, {{NAME}}さん！</h1>

  <p>
    好きな名前を書いてね！
  </p>
  <form action="/rip" method="post">
    <p>
      名前：<input type="text" name="name">
    </p>
    <p>
      <input type="submit" value="送信">
      <input type="reset" value="リセット">
    </p>
  </form>
  <p>
    <a href="/rip">お名前リスト</a>
  </p>
</body>
</html>
