<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>
    RIP create
  </title>
</head>
<body>
  <p>
    {{NAME}}さんの情報を記録しました。
  </p>
  <p>
    <a href="/">TOPへ戻る</a>
  </p>
</body>
</html>
