<!DOCTYPE html>
<html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>
    RIP show
  </title>
</head>
<body>
  <h1>Rest in Peace</h1>
  <ul>
    {{#LIST}}
      <li>
        {{.}}
      </li>
    {{/LIST}}
  </ul>
  <p>
    安らかに眠れ
  </p>
  <p>
    <a href="/">TOPへ戻る</a>
  </p>
</body>
</html>
